*{
    margin: 0%;
    padding: 0%;
}

.hero {
    background-image: url(/img/Model-3-Main-Hero-Desktop-LHD.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}




  .safety{
    height: 100vh;
    
    
  }

  .performance {
    background-image: url(/img/Model-3-Performance-Hero-Desktop-LHD.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }

.top_banner{
    background-color: #ffffff;
    position: fixed;
    top: 0;
    text-align: center;
    padding: 16px;
    width: 100%;
    height: 20px;
    color: #393c41;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: rgb(208, 209, 210) 0px 0px 1px 0px;
    letter-spacing: normal;
    ;
}


.header{
    position: fixed;
    top: 0px;
    left: 0px;
}

.logo_start_left{
    max-width: 1%;
    max-height: 1%;

}

.nav li{
    list-style-type: none;

}